{% extends "user/base.html" %}

<style>
    body
    {
        font-family: 'Helvetica','Arial', sans-serif;
        background-color: #42A1C9
    }
    #chat-items ul
    {
        background-color: white;
        max-height: 120px;/*The important part*/
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #chat-items li
    {
        list-style-type: none;
    }
</style>
{% block pageheader %}
    {% if user != object.first %}
        Your conversation with {{ object.first }}
    {% else %}
        Your conversation with {{ object.second }}
    {% endif %}
{% endblock pageheader%}

{% block content %}
<ul style="text-align: left;" id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>
    <img src="{{ chat.user.profile.image.url }}" class="rounded-circle z-depth-0" alt="avatar image" width="50px" height="50px">
    <b>{{ chat.user }}:</b> {{ chat.message }}
</li><br>

{% endfor %}
</ul>

<form style="text-align: left;" id='form' method='POST'>
    {% csrf_token %}
    {{form.as_p }}
    <input type="hidden" value="{{ user.profile.image.url }}" name="profile_image" id="profile_image">
    <input type="hidden" value="{{ object.first.profile.image.url }}" name="first_profile_image" id="first_profile_image">
    <input type="hidden" value="{{ object.second.profile.image.url }}" name="second_profile_image" id="second_profile_image">
    <input type="hidden" value="{{ object.first }}" name="first_user" id="first_user">
    <input type="hidden" value="{{ object.second }}" name="second_user" id="second_user">
    <input type='submit' style="background: #1a2a67; color: #F9F8F8;" class='btn btn-link'/>
</form>


{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
	//alert("jquery world")
	var formData = $("#form")
	var messageInput = $("#id_message")
	var chatItems = $('#chat-items')
	var loc = window.location
	var wsStart = 'ws://'

    console.log(formData);
	var profile_image = $("#profile_image");
	console.log(profile_image.val());
	profile_image = profile_image.val();
	console.log(profile_image);
	var first_profile_image = $("#first_profile_image").val();
	var second_profile_image = $("#second_profile_image").val();

  	if (loc.protocol == 'https:') {
  		wsStart = 'wss://'
  	}
  	//var webSocketEndpoint = wsStart + loc.host + '/chat/'
  	console.log(loc.host)
	var webSocketEndpoint = wsStart + loc.host + loc.pathname
	console.log(webSocketEndpoint)
	console.log(loc.pathname)
	var socket = new WebSocket(webSocketEndpoint) //ReconnectingWebSocket

	socket.onmessage = function(e){
		console.log('message', e)
		//alert(e.data)
		var msgData = JSON.parse(e.data)
        var currentUser = msgData.user
        var firstUser = $("#first_user").val();
		var secondUser = $("#second_user").val();
        if (currentUser.localeCompare(firstUser) == 0)
        {
            profile_image = first_profile_image;
        }

        else
        {
            profile_image = second_profile_image;
        }

		console.log(msgData)

	    console.log("The profile pic variable is: " + profile_image);
	    console.log("THe profile pic source is: " + profile_image.src);

	    chatItems.append(`<li><img src="${profile_image}" id="chat_image" class="rounded-circle z-depth-0" alt="avatar image" width="50px" height="50px"><b>    ${msgData.user}:</b> ${msgData.msg}</li><br>`);
		//chatItems.append(`<li><b>${msgData.user}:</b> ${msgData.msg}</li>`)
   		chatItems.animate({scrollTop: chatItems.prop("scrollHeight")}, 500);
	}

	socket.onopen = function(e){
		console.log('open', e)
		formData.submit(function(event){
			event.preventDefault()
			var messageText = messageInput.val()
			console.log(messageText)
			var jsonData = JSON.stringify({msg: messageText, user:'jmitchel3'})
			socket.send(jsonData)
			formData[0].reset()
		})
	}

	socket.onerror = function(e){
		console.log('error', e)
	}

	socket.onclose = function(e){
		console.log('closed', e)
	}


	if (socket.readyState == WebSocket.OPEN) {

	} else if (socket.readyState == WebSocket.CONNECTING){
		console.log("connecting..")
	}
})
</script>
{% endblock script%}