{% extends "user/base.html" %}

{% block pageheader %}Create a New Service Request{% endblock %}

{% block content %}
    <div class="empty-form">
        <form action= "{% url 'create_request' %}" method="POST" class="form">

            {% csrf_token %}

            <div class="form-group">
                <label for="request_type">Request Type:</label>
                {{ form.type }}
            </div>

            <div class="form-group">
                <label for="request_description">Description:</label>
                {{ form.description }}
            </div>

            <button type="submit" class="btn btn-link" style="background: #40a9cf; color: #F9F8F8;">Submit</button>
        </form>
    </div>

{% endblock content %}